{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to Shopy
    {% endif %}
{% endblock %}


{% block title %}
    {% if category %}
     {{category.name}}-Shopy Store
    {% else %}
    Shopy
    {% endif %}
{% endblock %}


{% block content %}
{% if category %}

    <div>
        <div class="row my_row_class">
            <div class="mx-auto">
            <p><a href="{% url 'shopapp:products_by_category' c_slug=category.slug %}"> Our Product Collection</a></p>
             </div>
        </div>
    </div>
{% endif %}


<div class="mx-auto">
     {% if category %}
    <img class="my_image" src = "{{category.image.url}}" alt="{{category.name}}">
    
</div><br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}
</div>
   {% else %}
<div>
    <img class="my_image_padding" src="{% static 'img/Banaer.png' %}" alt="our products" width="1220px">
</div><br>
<div>
    <h1 class="text-center my-title"> OUR PRODUCTS COLLECTION </h1>
    <p class="text-justify">  Retail formats (also known as retail formulas) influence the consumer's store choice and addresses the consumer's expectations.
         At its most basic level, a retail format is a simple marketplace, that is; a location where goods and services are exchanged. 
         In some parts of the world, the retail sector is still dominated by small family-run stores, but large retail chains are increasingly
          dominating the sector, because they can exert considerable buying power and pass on the savings in the form of lower prices. 
          Many of these large retail chains also produce their own private labels which compete alongside manufacturer brands. Considerable 
          consolidation of retail stores has changed the retail landscape, transferring power away from wholesalers and into the hands of the
          \ large retail chains.[69] In Britain and Europe, the retail sale of goods is designated as a service activity. The European Service 
          Directive applies to all retail trade including periodic markets, street traders and peddlers.
    </p>
</div>

{% endif %}

<div class="container">
    <div class="row mx-auto">
        {% for product in products.object_list%}
        <div class="my_bottom_margi col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="width: 20rem; heigth: 30rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
            <div class="card-body">
                <h4>{{product.name}}</h4>
                <p>{{product.price}}</p>
            </div>       
            </div>
        </div>  
        {% endfor %}
    </div> 
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class= "btn btn-light btn-sm {% if products.number == pg %}active{% endif %}"></a>
            {% endfor %}
        </div>
        {% endif %}
    </div> 
    <br> 
</div>

{% endblock %} 

